.card{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.card-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.card-header img{
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 5px solid #03346E;
  margin-right: 10px;
}
.card-header .user-info h3{
  text-transform: capitalize;
  font-size: 19px;
  color:#03346E;
  margin-bottom: 5px;
}
.card-header .user-info p{
  font-size: 14px;
  font-weight: 500;
  color: #676767;
  text-transform: capitalize;
  margin-top: 0;
}
.card-body{
  color: #676767;
  line-height: 1.6;
}

/* media query */
@media (max-width: 800px) {
  .card{
    padding: 15px;
  }
  .card-header img{
    width: 55px;
    height: 55px;
    border: 4px solid #03346E;
  }
  .card-header .user-info h3 {
    font-size: 15px;
  }
  .card-header .user-info p {
    font-size: 13px;
  }
  .card-body{
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  /* .card{
    padding: 15px;
  }
  .card-header img{
    width: 55px;
    height: 55px;
    border: 4px solid #03346E;
  }
  .card-header .user-info h3 {
    font-size: 15px;
  }
  .card-header .user-info p {
    font-size: 13px;
  } */
  .card-header{
    display: block;
    
  }
}
@media (max-width: 576px) {
  .card-body{
    font-size: 12px;
  }
}