.campus{
  margin: 100px auto;
  width: 90%;
}
.campus .content{
  margin-top: 75px;
  text-align: center;
}
.campus .content .images{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.campus .content .images .img-container{
  flex-basis: 23%;
}
.campus .content .images img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* media query */
@media (max-width: 800px) {
  .campus .content .images{
    flex-wrap: wrap;
  }
  .campus .content .images .img-container{
    flex-basis: 48%;
    margin-bottom: 25px;
  }
}